.red-button {
    font-size: 21px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #b53a3a;
}

.red-button:hover {
    background-color: #e21717;
    cursor: pointer;
}

.red-button:active {
    background-color: #6b3c3c;
}