.seperator.one { font-size: 1px; }
.seperator.two { font-size: 2px; }
.seperator.three { font-size: 3px; }
.seperator.four { font-size: 4px; }
.seperator.five { font-size: 5px; }
.seperator.six { font-size: 6px; }
.seperator.seven { font-size: 7px; }
.seperator.eight { font-size: 8px; }